---
import { Image } from "astro:assets";

import cat from "../assets/cat-404.svg";
import PageLayout from "~/layouts/PageLayout.astro";
import { Button } from "~/components/ui/button";
import { ArrowLeft, Home } from "lucide-react";
---

<PageLayout
    title="Page not found"
    description="Sorry, this page couldn't be found."
    className="m-0"
>
    <div class="flex flex-1 flex-col items-center justify-center gap-3">
        <Image src={cat} alt="404" height="400" width="400" loading="eager" />

        <h1 class="text-4xl font-bold">404</h1>
        <p class="text-center text-2xl">Sorry, this page couldn't be found.</p>
        <p class="text-center text-muted-foreground">
            But dont worry, you can find plenty of other things on the homepage.
        </p>

        <div class="mt-2 flex gap-4">
            <a href="/">
                <Button className="flex items-center gap-2">
                    <Home className="size-4" />
                    Home
                </Button>
            </a>
            <Button
                className="flex items-center gap-2"
                variant="secondary"
                id="go-back"
            >
                <ArrowLeft className="size-4" />
                Go Back
            </Button>
        </div>
    </div>
</PageLayout>

<script>
    document.getElementById("go-back")?.addEventListener("click", () => {
        window.history.back();
    });
</script>
