---
import { Image } from "astro:assets";

import PageLayout from "~/layouts/PageLayout.astro";
import { Githubsponsors, Github, X } from "simple-icons-astro";
import { Button } from "~/components/ui/button";

// i still want /logo.png to be accessible from the root of the site
import logo from "~/public/logo.png";
---

<PageLayout>
    <div class="flex flex-1 flex-col items-center justify-center gap-6">
        <Image
            src={logo}
            width="150"
            height="150"
            alt="Seren_Modz 21 Logo"
            class="rounded-full"
            loading="eager"
        />
        <div class="space-y-2 text-center">
            <h1 class="text-4xl font-bold">Seren_Modz 21</h1>
            <p class="text-muted-foreground text-sm sm:text-base">
                An inspired back-end developer from the <addr
                    title="United Kingdom"
                >
                    UK
                </addr>
            </p>
        </div>
        <p class="text-muted-foreground max-w-2xl text-center text-lg">
            While I'm technically a full-stack developer, I mostly do back-end
            work because I suck at designing websites. Most of my projects are
            currently closed-source but my goal is to contribute more to
            open-source.
        </p>
        <div class="flex items-center gap-2">
            <a
                href="https://github.com/sponsors/SerenModz21"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Button>
                    <Githubsponsors />
                    Sponsor my work
                </Button>
            </a>

            <a
                href="https://github.com/SerenModz21"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Button variant="outline" title="GitHub">
                    <Github />
                    <span class="sr-only">GitHub</span>
                </Button>
            </a>

            <a
                href="https://twitter.com/SerenModz21"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Button variant="outline" title="Twitter">
                    <X />
                    <span class="sr-only">Twitter</span>
                </Button>
            </a>
        </div>
    </div>
</PageLayout>
