---
import { cn } from "~/lib/utils";
---

<div class="hidden items-center md:flex">
    <nav class="flex items-center gap-4 text-sm xl:gap-6">
        <a
            href="/"
            class={cn(
                "transition-colors hover:text-foreground/80",
                Astro.url.pathname === "/"
                    ? "text-foreground"
                    : "text-foreground/60",
            )}
        >
            Home
        </a>
        <a
            href="/projects"
            class={cn(
                "transition-colors hover:text-foreground/80",
                Astro.url.pathname === "/projects"
                    ? "text-foreground"
                    : "text-foreground/60",
            )}
        >
            Projects
        </a>
        <a
            href="/referrals"
            class={cn(
                "transition-colors hover:text-foreground/80",
                Astro.url.pathname === "/referrals"
                    ? "text-foreground"
                    : "text-foreground/60",
            )}
        >
            Referrals
        </a>
    </nav>
</div>
