---
import GithubCard from "../components/GithubCard.astro";

import type { Repo } from "../lib/github";

interface Props {
    name: string;
    repos: Repo[];
}

const { name, repos } = Astro.props;
---

<section class="my-2">
    <h2 class="mb-4 text-2xl font-semibold">{name}</h2>
    <div class="mb-2 grid gap-2 md:grid-cols-2 lg:grid-cols-3">
        {repos.map((r) => <GithubCard repo={r} />)}
    </div>
</section>
